/* Goblin One Font  */
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
/* Roboto Font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 0%;
    margin: 0%;
    /* text-align: center; */
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    padding: 2%;
}

h1 {
    color: #484848;
    text-align: center;
    font-size: 4rem;
    margin: 0%;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}


p{
    width: 100%;
    font-size: 2rem;
    margin: 0%;
    text-align: center;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;   
}

.button-container>a{
    /* border: 2px solid black; */
    padding: 20px 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #494944;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}